h1
{
    color:red;
}

p1 
{
    color: white;
    background: grey;
    border: 2px dotted white;
    padding:10px 20px;
    margin-bottom:30px; 
    width: 200px;
    float: left;    
}

p2 
{
    color: white;
    background: grey;
    border: 2px dotted white;
    padding:10px 20px;
    width: 200px;
    clear: left;
    float: left;
    margin-bottom:30px; 
    
}

img
{
border: 10px solid gray;
padding: 10px 10px;
clear: left;
float: left;
width: 200px;
background:rgb(43, 148,253);
margin-bottom: 20px;
}